#ThisIsMeWrapper {
    color: var(--text-color);
    padding: var(--top-wrapper-padding);
    margin: var(--main-wrapper-margin);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#ThisIsMeWrapper #ThisIsMeLeftContainer #ThisIsMeHeadline h2 {
    display: flex;
    flex-direction: column;
    font-size: calc(var(--p-font-size) * 4);
    margin-bottom: 30px;
}

#ThisIsMeWrapper #ThisIsMeLeftContainer #ThisIsMeHeadline h3 {
    font-size: calc(var(--p-font-size) * 2);
}

#ThisIsMeWrapper #ThisIsMeLeftContainer #ThisIsMeTechStackImgWrapper {
    display: flex;
    width: fit-content;
    height: 45px;
    flex-wrap: wrap;
    margin: 30px 0;
    gap: 1rem;
}

#ThisIsMeWrapper #ThisIsMeLeftContainer #ThisIsMeTechStackImgWrapper img {
    height: 35px;
    aspect-ratio: 1/1;
}

#ThisIsMeWrapper #ThisIsMeLeftContainer #ThisIsMeTechStackImgWrapper a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    color: var(--text-color);
}

#ThisIsMeWrapper #ThisIsMeRightContainer {
    width: 350px;
    height: 500px;
    display: flex;
    justify-content: center;
    margin-right: 50px;
    margin-left: 50px;

}

#ThisIsMeWrapper #ThisIsMeRightContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* box-shadow: 5px 5px 10px var(--text-color); */
    filter: drop-shadow(0px 0px 30px var(--background-color-one));
    position: relative;
    border-radius: 5px;
}

#ThisIsMeWrapper #ThisIsMeRightContainer div {
    position: relative;
    width: 300px;
    height: 400px;
}

/* #ThisIsMeWrapper #ThisIsMeRightContainer div::before {
    content: '"';
    font-size: calc(var(--p-font-size)*10);
    position: absolute;
    left: -100px;
    top: -100px;
    z-index: -1;
    font-family: var(--font-family-p);
    text-shadow: 0px 0px 10px var(--background-color-one);
    opacity: .5;
    color: var(--background-color-two);
    display: block;
}

#ThisIsMeWrapper #ThisIsMeRightContainer div::after {
    content: '"';
    font-size: calc(var(--p-font-size)*10);
    position: absolute;
    bottom: -100px;
    right: -100px;
    z-index: -1;
    font-family: var(--font-family-p);
    text-shadow: 0px 0px 10px var(--background-color-one);
    opacity: .5;
    color: var(--background-color-two);
    display: block;
} */

#ThisIsMeWrapper #ThisIsMeLeftContainer .icons {
    font-size: 40px;
    padding: 10px;
    transition: all .3s linear;
    color: var(--text-color);
}


#ThisIsMeWrapper #ThisIsMeLeftContainer .icons:hover {
    color: var(--background-color-one);
    cursor: pointer
}

@media only screen and (max-width: 800px) {
    #ThisIsMeWrapper {
        flex-direction: column;
        align-items: start;
        padding: 0 1.5rem;
        margin: var(--main-wrapper-margin)
    }

    #ThisIsMeWrapper #ThisIsMeLeftContainer #ThisIsMeTechStackImgWrapper img {
        height: 3rem;
    }

    #ThisIsMeWrapper #ThisIsMeLeftContainer #ThisIsMeTechStackImgWrapper {
        margin-bottom: 3rem;
    }

    #ThisIsMeWrapper #ThisIsMeRightContainer {
        align-self: center;
    }

    #ThisIsMeWrapper #ThisIsMeRightContainer div {
        margin-top: 3rem;

    }

    #ThisIsMeWrapper #ThisIsMeLeftContainer a {
        font-size: calc(var(--a-font-size)*1.2);
    }

    #ThisIsMeWrapper #ThisIsMeLeftContainer .icons {
        font-size: calc(var(--a-font-size)*4);
        padding: 20px;

    }

    #ThisIsMeWrapper #ThisIsMeRightContainer {
        display: none
    }
}


@media only screen and (max-width: 600px) {
    #ThisIsMeWrapper #ThisIsMeRightContainer {
        width: 250px;
    }


    #ThisIsMeWrapper #ThisIsMeRightContainer div {
        width: 250px;
        height: 350px;
    }
}

@media only screen and (max-width: 400px) {
    #ThisIsMeWrapper #ThisIsMeLeftContainer #ThisIsMeTechStackImgWrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        height: fit-content;
    }

}