.PolicyWrapper {
    padding: var(--top-wrapper-padding);
    margin: var(--main-wrapper-margin)
}

.PolicyWrapper h1 {
    font-size: calc(var(--p-font-size)*5);
    font-family: var(--font-family-bold-italic);
    background: var(--text-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.PolicyWrapper p,
.PolicyWrapper a {
    font-size: var(--p-font-size);
    color: var(--white);
}

.PolicyWrapper a {
    text-decoration: underline;
}