@font-face {
  font-family: Lemon-Medium;
  src: url('../fonts/lemon_milk/LEMONMILK-Regular.otf');
}

@font-face {
  font-family: Lemon-Bold;
  src: url('../fonts/lemon_milk/LEMONMILK-Bold.otf');
}

@font-face {
  font-family: Lemon-BoldItalic;
  src: url('../fonts/lemon_milk/LEMONMILK-BoldItalic.otf');
}

@font-face {
  font-family: Lemon-MediumItalic;
  src: url('../fonts/lemon_milk/LEMONMILK-MediumItalic.otf');
}

@font-face {
  font-family: Lemon-Light;
  src: url('../fonts/lemon_milk/LEMONMILK-Light.otf');
}



* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid black; */
  font-family: Lemon-Medium, sans-serif;
  box-sizing: border-box;
}

body {
  /* background-color: #002855 */
  background: #0C0C0C;
  min-height: 90vh;
  position: relative;
}


:root {
  --text-color: #3eaaff;
  --background-color-one: #001233;
  --background-color-two: #002855;
  --background-color-three: #0a2e71;
  --background-color-four: #023770;
  --background-color-five: #002750;
  --p-font-size: 16px;
  --a-font-size: 20px;
  --hover-color: #63fdff;
  --top-wrapper-padding: 20px 10vw;
  --main-wrapper-padding: 100px 10vw;
  --main-wrapper-margin: 100px 0px;
  --button-border: #0466c8;
  --font-family-light: Lemon-Light;
  --font-family-p: Lemon-Medium;
  --font-family-bold: Lemon-Bold;
  --font-family-p-italic: Lemon-MediumItalic;
  --font-family-bold-italic: Lemon-BoldItalic;
  scroll-behavior: smooth;
  --purple: #8a2387;
  --red: #e94057;
  --orange: #f27121;
  --newBlue: rgba(4, 0, 255, 0.150);
  --white: #E3E3E3;
  --black: #0C0C0C;
  --text-gradient: linear-gradient(to right, #8a2387, #e94057, #f27121);
  --media-large: 1200px;
  --media-medium: 900px;
  --media-small: 600px;
  --media-xsmall: 400px;
}

@media only screen and (max-width: 1500px) {
  :root {
    --top-wrapper-padding: 20px 5vw;
    --main-wrapper-padding: 100px 5vw;
    --main-wrapper-margin: 100px 0px;
  }
}

@media only screen and (max-width: 1250px) {
  :root {
    --top-wrapper-padding: 20px 3vw;
    --main-wrapper-padding: 100px 3vw;
    --main-wrapper-margin: 100px 0px;
  }
}

@media only screen and (max-width: 900px) {
  :root {
    --main-wrapper-margin: 9rem 0;
  }

  @-moz-document url-prefix() {
    :root {
      --main-wrapper-margin: 12rem 0;
    }

  }
}

@media only screen and (max-width: 600px) {

  :root {
    --p-font-size: 10px;
    --a-font-size: 15px;
  }
}

@media only screen and (max-width: 520px) {
  @-moz-document url-prefix() {
    :root {
      --main-wrapper-margin: 15rem 0;
    }

  }
}


.underlineHover {
  position: relative;
}

.underlineHover:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underlineHoverColor:after {
  background: linear-gradient(to right, #8a2387, #e94057, #f27121);
  border-radius: 1px;
  -webkit-text-fill-color: transparent;

}

.underlineHover:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a {
  text-decoration: none;
}


/* #FF00CE, #333399 */

/* https://uigradients.com/#Wiretap */