.ContactPageWrapper {
    padding: var(--top-wrapper-padding);
    margin: var(--main-wrapper-margin);
    display: flex;
    margin-bottom: 0;
    padding-bottom: 15vh;
    justify-content: space-between;
}

.ContactPageWrapper h1 {
    font-size: calc(var(--p-font-size)*5);
    font-family: var(--font-family-bold-italic);
    background: var(--text-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icons {
    font-size: 70px;
    color: var(--text-color);
    padding: 10px
}

.icons:hover {
    color: var(--background-color-one);
}

.icons {
    font-size: 70px;
    color: var(--text-color);
    padding: 10px
}

.icons:hover {
    color: var(--background-color-one);

}

.ContactPageRightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    justify-content: center;
}

.ContactPageRightContainer a {
    color: var(--white);
    font-size: calc(var(--p-font-size)*1.2);
    text-decoration: underline;
    text-underline-offset: 5px;
}

.ContactPageRightContainer>article>a {
    border: none;
    text-decoration: none;
}

.ContactPageRightContainer article:nth-last-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    flex-wrap: wrap;
}

.ContactPageCopyButton {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: var(--a-font-size);
    color: var(--white);
    margin-left: 1rem;
}

.ContactPageCopyButton:hover {
    cursor: pointer;
}

@media only screen and (max-width: 950px) {

    .ContactPageWrapper {
        flex-direction: column;
        gap: 10rem
    }

    .ContactPageRightContainer,
    .ContactPageLeftContainer {
        width: 100%;
    }

    .ContactPageFormWrapper {
        margin: 0;
        width: 100%;
    }

    .ContactPageFormWrapper input,
    .ContactPageFormWrapper textarea {
        width: 95%;
    }

    .ContactPageacceptData label input {
        height: 40px;
        width: 40px;

    }

    .ContactPageacceptData {
        width: 95%;
    }
}

@media only screen and (max-width: 900px) {
    .ContactPageRightContainer a {
        color: var(--text-color);
        font-size: calc(var(--p-font-size)*2)
    }

    .ContactPageWrapper h1 {
        font-size: calc(var(--p-font-size)*3.5);
    }
}