#ProjectsOverviewWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    padding: var(--main-wrapper-padding);
    margin: var(--main-wrapper-margin);
    margin-bottom: 0;
    position: relative;
    overflow-x: hidden;
}

#ProjectsOverviewWrapper .ProjectsOverviewProjectWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 7rem;
    column-gap: 10rem;
}


#ProjectsOverviewWrapper h2 {
    font-size: calc(var(--p-font-size)*5);
    font-family: var(--font-family-bold-italic);
    background: var(--text-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    margin: 0 auto;
    padding: 0 10px;
    display: inline-block;
}


#ProjectsOverviewWrapper .ProjectsOverviewFooter {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

#ProjectsOverviewWrapper .ProjectsOverviewFooter a {
    font-size: var(--a-font-size);
    color: var(--white)
}