.ContactPageFormWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-left: 5rem;
    /* border: 3px solid; */
    position: relative;
    padding: 20px;
    /* border: 10px solid;
    border-width: 3px;
    border-image-slice: 1;
    border-style: solid;
    border-radius: 10px; */
    /* border-image-source: linear-gradient(to left, #743ad5, #d53a9d); */
}

.ContactPageFormWrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    border: 2px solid transparent;
    background: var(--text-gradient) border-box;
    -webkit-mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -1;
}


/* .ContactPageFormWrapper::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: 5px;
  
border-radius: inherit;

background: linear-gradient(to right, red, orange);

 .ContactPageFormWrapper label {
    font-size: calc(var(--p-font-size)*2.5);
    color: var(--text-color);
    margin-top: 1rem;
} */


.ContactPageFormWrapper input,
.ContactPageFormWrapper textarea {
    padding: .5rem;
    font-size: calc(var(--p-font-size)*1.2);
    font-family: var(--font-family-mont);
    font-style: italic;
    font-variation-settings: "wght" 700;
    color: var(--white);
    /* box-shadow: 0px 0px 20px var(--background-color-one); */
    border-radius: 10px;
    margin: 10px 0;
    background-color: transparent;
    border: none;
    text-align: start;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, #f27121, #e94057, #8a2387, rgb(0, 0, 0, 0));
    border-image-slice: 1;
    width: 100%;
    transition: .2s linear;
}

.ContactPageFormWrapper textarea {
    resize: none;
    height: 150px;
}

.ContactPageFormWrapper>input:focus,
.ContactPageFormWrapper>textarea:focus {
    outline: none;
    border: none;
    text-align: start;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to right, #8a2387, #e94057, #f27121, rgb(0, 0, 0, 0));
    border-image-slice: 1;
    border-radius: 10px;
    width: 100%;
}

.ContactPageSendButtonWrapper {
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    color: var(--text-color);
}

.ContactPageFormWrapper button {
    width: 300px;
    padding: .5rem;
    font-size: calc(var(--p-font-size)*1.2);
    font-family: var(--font-family-p-italic);
    background-color: var(white);
    color: var(--black);
    border-radius: 10px;
    border: none;
    align-self: center;
    transition: .2s linear;
}

.ContactPageFormWrapper button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--white);
}

.ContactPageFormWrapper button[disabled] {
    filter: grayscale(50%);
    cursor: wait;
}

.ContactPageFormWrapper .errorMsg {
    color: red;
    font-size: calc(var(--p-font-size)*1.2);
}


.ContactPage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--p-font-size);
}

.ContactPageacceptData label {
    font-size: var(--p-font-size);
    display: flex;
    color: var(--white);
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.ContactPageacceptData p {
    font-size: var(--p-font-size);
    color: var(--white);
    word-wrap: break-word;
}

.ContactPageacceptData a {
    font-size: var(--p-font-size);
    color: var(--text-color);
    text-decoration: underline;
}

.ContactPageacceptData label input {
    background-color: none;
    accent-color: #e94057;
    box-shadow: none;
    width: auto;
    margin: 10px;
}


@media only screen and (max-width: 950px) {

    .ContactPageWrapper {
        flex-direction: column;
        gap: 10rem
    }

    .ContactPageRightContainer,
    .ContactPageLeftContainer {
        width: 100%;
    }

    .ContactPageFormWrapper {
        margin: 0;
        width: 100%;
    }

    .ContactPageFormWrapper input,
    .ContactPageFormWrapper textarea {
        width: 95%;
        font-size: calc(var(--p-font-size)*1.4)
    }

    .ContactPageFormWrapper .ContactPageacceptData label input {
        height: 40px;
        width: 40px;
    }

    .ContactPageFormWrapper .ContactPageacceptData label {
        font-size: calc(var(--p-font-size)*1.4)
    }

    .ContactPageFormWrapper .ContactPageacceptData {
        width: 95%;
        font-size: calc(var(--p-font-size)*1.2)
    }

    .ContactPageFormWrapper .ContactPageacceptData p {
        font-size: calc(var(--p-font-size)*1.2)
    }

    .ContactPageFormWrapper button {
        font-size: calc(var(--p-font-size)*2.0);
    }
}

@media only screen and (max-width: 750px) {

    .ContactPageFormWrapper input,
    .ContactPageFormWrapper textarea {
        font-size: calc(var(--p-font-size)*2)
    }

    .ContactPageFormWrapper .ContactPageacceptData {
        width: 95%;
        font-size: calc(var(--p-font-size)*1.8)
    }

    .ContactPageFormWrapper .ContactPageacceptData p {
        font-size: calc(var(--p-font-size)*1.4)
    }

    .ContactPageFormWrapper button {
        font-size: calc(var(--p-font-size)*2.5);
    }
}

@media only screen and (max-width: 900px) {

    .ContactPageRightContainer a {
        font-size: calc(var(--p-font-size)*2)
    }

}