.TechStack {
    /* background-color: var(--background-color-three); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    margin: var(--main-wrapper-margin);
    padding: var(--main-wrapper-padding);
    position: relative;
}

.TechStack>h2 {
    grid-column: 2/3;
    font-size: calc(var(--p-font-size)*5);
    font-family: var(--font-family-bold-italic);
    background: var(--text-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 10px;
    position: relative;
}

.TechStack img {
    object-fit: contain;
    height: 120px;
    aspect-ratio: 1/1;
    backface-visibility: hidden;
    transition: 0.5s ease;
}



.imgWrapper {
    display: flex;
    grid-column: 2/3;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem;
    column-gap: auto;
    /* margin: 0 auto 1.5rem auto; */
    margin-bottom: 1.5rem;
    align-self: center;
    padding: 0px 40px 0px 40px;
}

.SingleImgWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 0 auto; */
    position: relative;
    margin: 3rem 1rem 0 1rem;
    justify-self: start;
}


.ImgDescription {
    position: absolute;
    opacity: 0;
    top: 50%;
    bottom: 50%;
    transition: 0.5s ease;
    font-size: var(--p-font-size);
}

.ImgDescription h2 {
    font-family: var(--font-family-p);
    background: var(--text-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: var(--white);
    padding: 5px
}

.SingleImgWrapper:hover>.ImgDescription {
    position: absolute;
    transform: translateY(-20px);
    transition: 0.5s ease;
    font-size: calc(var(--p-font-size)*1.5);
    user-select: none;
    opacity: 1;
}

.TechStack figure:hover>img {
    opacity: 50%;
}


/* #ThisIsMeWrapper #ThisIsMe-RightContainer div::before {
    content: "<";
    font-size: calc(var(--p-font-size)*10);
    position: absolute;
    left: -50px;
    top: -100px;
    font-family: var(--font-family-p);
    z-index: 10;
    text-shadow: 0px 0px 20px var(--background-color-one);
    color: var(--text-color);
    display: block;
} */









@media only screen and (max-width: 1780px) {
    .imgWrapper {
        justify-content: flex-start;
    }
}


@media only screen and (max-width: 900px) {

    .TechStack>div h2::after,
    .TechStack>div h2::before,
    .TechStack::before,
    .SingleImgWrapper:before,
    .SingleImgWrapper::after {
        display: none !important;
    }
}

@media only screen and (max-width: 700px) {
    .imgWrapper {
        justify-content: center;
    }

    .SingleImgWrapper {
        margin: 1rem .5rem 0 .5rem;
    }

    .SingleImgWrapper:nth-of-type(1) {
        margin-left: 0;
        margin: 1rem .5rem 0 .5rem;

    }

    .SingleImgWrapper:nth-last-child(1) {
        margin-right: 0;
        margin: 1rem .5rem 0 .5rem;
    }

    /* .TechStack .SingleImgWrapper{} */


}