@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.loading {
    width: 4rem;
    height: 4rem;
    border: 5px solid var(--orange);
    border-radius: 50%;
    border-top-color: var(--purple);
    animation: spinner 1.5s linear infinite;
    overflow: hidden;
    z-index: 10;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;

}

.loadingCenter {
    margin: 0 auto;
}