.ImpressumWrapper {
    padding: var(--top-wrapper-padding);
    margin: var(--main-wrapper-margin)
}

.ImpressumWrapper h1 {
    font-size: calc(var(--p-font-size)*5);
    font-family: var(--font-family-bold-italic);
    background: var(--text-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ImpressumWrapper p,
.ImpressumWrapper a {
    font-size: var(--p-font-size);
    color: var(--white);
}

.ImpressumWrapper a {
    text-decoration: underline;
    display: block;
}

@media screen and (max-width: 900px) {

    .ImpressumWrapper p,
    .ImpressumWrapper a {
        font-size: calc(var(--p-font-size)*1.1);
    }

    .ImpressumWrapper a {
        margin-top: 30px;
    }
}