#AllProjectsWrapper {
    margin: var(--main-wrapper-margin);
    padding: var(--main-wrapper-padding);
    margin-bottom: 0;
    padding-bottom: 20vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}

#AllProjectsWrapper article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 7rem;
    column-gap: 10rem;
}

#AllProjectsWrapper h1 {
    font-size: calc(var(--p-font-size)*5);
    font-family: var(--font-family-bold-italic);
    background: var(--text-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 10px;
}

@media only screen and (max-width: 900px) {

    #AllProjectsWrapper>div h1::after,
    #AllProjectsWrapper>div::before {
        display: none;
    }
}