.SingleProjectProjectWrapper {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    gap: 1rem;
    margin: 0 40px;
}

.SingleProjectProjectWrapper img {
    height: 100%;
    overflow: hidden;
}

.SingleProjectProjectWrapper img[alt="PokéDex"] {
    height: 60%;
}

.SingleProjectProjectWrapper h3 {
    font-size: calc(var(--p-font-size)*2);
    font-family: var(--font-family-p);
    background: var(--text-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    padding: 0 10px;
    -webkit-text-fill-color: transparent;
}

.SingleProjectHoverDiv h4 {
    color: #0C0C0C
}

.SingleProjectHoverDiv {
    position: absolute;
    opacity: 0;
    top: 60%;
    transform: translateY(-50%);
    user-select: none;
    transition: all 0.5s ease;
    font-size: var(--p-font-size);
    background-color: var(--white);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--white);
}

.SingleProjectHoverDiv p {
    margin-top: 10px;
    color: #0C0C0C;
    font-size: calc(var(--p-font-size)*1.1);
    font-family: var(--font-family-mont);
}

.SingleProjectHoverDiv a {
    display: inline-block;
    margin-top: 1rem;
    font-size: calc(var(--p-font-size));
    font-family: var(--font-family-p);
    background: var(--text-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.SingleProjectProjectWrapper img:hover+.SingleProjectHoverDiv,
.SingleProjectProjectWrapper .SingleProjectHoverDiv:hover {
    display: block;
    font-size: calc(var(--p-font-size)*1);
    color: var(--text-color);
    opacity: 1;
}

.SingleProjectProjectWrapper .SingleProject-Footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.SingleProjectProjectWrapper .SingleProject-Footer a {
    font-size: var(--a-font-size);
}


@media only screen and (max-width: 900px) {
    .SingleProjectProjectWrapper {
        width: 300px;
        height: 300px;
    }

    .SingleProjectProjectWrapper::before,
    .SingleProjectProjectWrapper::after {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .SingleProjectHoverDiv p {
        font-size: calc(var(--p-font-size)*1.5);
    }

    .SingleProjectHoverDiv h4 {
        font-size: calc(var(--p-font-size)*1.5);
    }

    .SingleProjectHoverDiv a {
        font-size: calc(var(--p-font-size)*1.3);
    }
}